.root {
  --rsg-font: PingFang SC, Helvetica, sans-serif;
  --rsg-bg: rgba(255, 255, 255, 0.72);
  --rsg-pad: 60px;
  --rsg-text-color: #464b4d;
}

.root.dark {
  --rsg-bg: rgba(29, 29, 31, 0.72);
  --rsg-text-color: #e6e6e6;
}

.container {
  font-family: var(--rsg-font);
  line-height: 1.6;
  position: fixed;
  width: 825px;
  max-width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
  inset: 0;
  z-index: 100000;
  color: var(--rsg-text-color);
}

.panel {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--rsg-bg);
  border-radius: 30px;
  overflow: hidden;
  font-size: 16px;

  gap: 100px;
  width: 100%;
  max-width: 100%;
  padding: var(--rsg-pad);
  position: relative;
}

.panel::before {
  content: '';
  position: absolute;
  left: 50%;
  top: var(--rsg-pad);
  bottom: var(--rsg-pad);
  width: 0.5px;
  background-color: currentColor;
}

.panel .left,
.panel .right {
  width: calc(50% - 40px);
  margin: auto;
  float: left;
}

.panel .right {
  float: right;
}

@media (max-width: 700px) {
  .panel .left,
  .panel .right {
    width: 100%;
    float: none;
  }
  .panel::before {
    display: none;
  }
}

.shortcut-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  min-width: 0;

  max-width: 100%;
  width: 100%;
}

.shortcut-item > span {
  word-break: break-all;
  min-width: 0;
}

.shortcut-item .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shortcut-item .keys {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  gap: 20px;
  min-width: 0;
}

.key {
  font-variant-numeric: tabular-nums;
  min-width: 2ch;
  display: inline-flex;
  justify-content: center;
}
