.root {
  --rsg-font: PingFang SC, Helvetica, sans-serif;
  --rsg-bg: rgba(255, 255, 255, 0.72);
  --rsg-pad: 60px;
  --rsg-text-color: #464b4d;
  --rsg-panel-width: 825px;
  --rsg-item-gap: 30px;
}

.root.dark {
  --rsg-bg: rgba(29, 29, 31, 0.72);
  --rsg-text-color: #e6e6e6;
}

.container {
  font-family: var(--rsg-font);
  line-height: 1.6;
  position: fixed;
  width: var(--rsg-panel-width);
  max-width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
  inset: 0;
  z-index: 100000;
  color: var(--rsg-text-color);
  pointer-events: none;
}

.panel {
  pointer-events: all;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--rsg-bg);
  border-radius: 30px;
  overflow: hidden;
  font-size: 16px;

  width: 100%;
  position: relative;
  white-space: nowrap;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-destination: calc(var(--rsg-panel-width) / 3) 0;
}

.panel::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.slide {
  flex-shrink: 0;
  padding: var(--rsg-pad);
  scroll-snap-align: start;
  overflow: hidden;
  width: calc(min(var(--rsg-panel-width), 80vw) - var(--rsg-pad) * 2);
  display: inline-block;
  position: relative;
  margin-right: var(--rsg-pad);
}

.slide:last-child {
  margin-right: 0;
}

.slide::before {
  content: '';
  position: absolute;
  left: 50%;
  top: var(--rsg-pad);
  bottom: var(--rsg-pad);

  width: 0.5px;
  background-color: currentColor;
}

.panel .left,
.panel .right {
  width: calc(50% - 40px);
  margin: auto;
  float: left;
}

.panel .right {
  float: right;
}

@media (max-width: 700px) {
  .panel .left,
  .panel .right {
    width: 100%;
    float: none;
  }

  .root {
    --rsg-item-gap: 20px;
  }

  .panel .left {
    margin-bottom: var(--rsg-item-gap);
  }

  .slide::before {
    display: none;
  }
}

.shortcut-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--rsg-item-gap);
  min-width: 0;

  max-width: 100%;
  width: 100%;
}

.shortcut-item > span {
  word-break: break-all;
  min-width: 0;
}

.shortcut-item .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shortcut-item .keys {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  gap: 20px;
  min-width: 0;
}

.key {
  font-variant-numeric: tabular-nums;
  min-width: 2ch;
  display: inline-flex;
  justify-content: center;
}

.indicator {
  position: sticky;
  right: 0;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  transform: translate(
    calc(min(var(--rsg-panel-width), 80vw) * -1 / 2),
    calc(var(--rsg-pad) / 2 * -1)
  );
}

.indicator-ball {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--rsg-text-color);
  opacity: 0.5;
  display: inline-block;
  transition: opacity 0.5s ease-in-out;
}

.indicator-ball.active {
  opacity: 1;
}
